image:
  - Visual Studio 2017

platform:
  - x64

environment:
  GIT_LFS_SKIP_SMUDGE: 1
  CRT_LINKAGE: dynamic
  LIBRARY_LINKAGE: static
  CONFIG: Release
  CTEST_OUTPUT_ON_FAILURE: 1

  matrix:
    - GENERATOR: Visual Studio 15 2017
      TARGET_ARCHITECTURE: x86
      
    - GENERATOR: Visual Studio 15 2017 Win64
      TARGET_ARCHITECTURE: x64

install:
  - echo set(VCPKG_TARGET_ARCHITECTURE %TARGET_ARCHITECTURE%) > C:\tools\vcpkg\triplets\custom-triplet.cmake
  - echo set(VCPKG_CRT_LINKAGE %CRT_LINKAGE%) >> C:\tools\vcpkg\triplets\custom-triplet.cmake
  - echo set(VCPKG_LIBRARY_LINKAGE %LIBRARY_LINKAGE%) >> C:\tools\vcpkg\triplets\custom-triplet.cmake

  - vcpkg install boost-algorithm:custom-triplet
  - vcpkg install boost-endian:custom-triplet
  - vcpkg install boost-filesystem:custom-triplet
  - vcpkg install boost-format:custom-triplet
  - vcpkg install boost-icl:custom-triplet
  - vcpkg install boost-iostreams:custom-triplet
  - vcpkg install boost-program-options:custom-triplet
  - vcpkg install boost-system
  - vcpkg install gtest:custom-triplet
  - vcpkg install libOgg:custom-triplet
  - vcpkg install libFlac:custom-triplet
  - vcpkg install libVorbis:custom-triplet

build_script:
  - mkdir build
  - cd build
  - cmake .. -G "%GENERATOR%" -DNIMEDIA_TREAT_WARNINGS_AS_ERRORS=ON -DCMAKE_BUILD_TYPE=%CONFIG% -DCMAKE_TOOLCHAIN_FILE=C:\tools\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=custom-triplet
  - cmake --build . --config %CONFIG%

test_script:
  - git lfs pull -X ""
  - cmake --build . --target RUN_TESTS --config %CONFIG%

